*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height:200vh ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/WhatsApp\ Image\ 2025-06-18\ at\ 2.21.13\ PM.jpeg);
}
/* ...............navhar..................... */
.lineNav{
    height: 35px;
    width: 2.5px;
    background-color: rgb(183, 53, 53);
}
